---
import { getCollection } from 'astro:content';
import PageWrapperLayout from '../../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../../components/TerminalWindow.astro';
import ArticleHeader from '../../components/ArticleHeader.astro';

export async function getStaticPaths() {
  const portfolioEntries = await getCollection('portfolio');
  return portfolioEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
---

<PageWrapperLayout title={entry.data.title}>
    <TerminalWindow title={entry.slug}>
        <article class="w-full flex flex-col justify-center text-xl text-mischka gap-y-8 ">
            <ArticleHeader articleHeader={{
                title: entry.data.title,
                description: entry.data.description,
                date: entry.data.publishDate.toDateString(), 
                readTime: entry.data.readTime,
                tags: entry.data.tags,
                sections: headings,
                imgUrl: entry.data.imgUrl,
                repoUrl: entry.data.repoUrl, 
            }} />
            <!-- TODO: Create a content section -->
            <!-- TODO: Refactor to use md -->
            <section class="max-w-full text-base-content prose prose-xl prose-headings:text-primary prose-headings:font-semibold 
                prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-a:text-secondary w-full">
                <Content />
            </section>
        </article>
    </TerminalWindow>
</PageWrapperLayout>
