---
import { getCollection } from 'astro:content';
import PageWrapperLayout from '../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
import Card from '../components/Card.astro';

const blogEntries = await getCollection('blog');

---

<PageWrapperLayout title='Blogs'>
    <TerminalWindow title='blog_posts'>
        <div class="w-full flex flex-col justify-center items-center gap-y-6">
            { blogEntries.sort((a,b) => ( 
                Date.parse(b.data.publishDate.toDateString()) - Date.parse(a.data.publishDate.toDateString())
            )).map(blogEntry => (
            <!-- TODO: change the meta data interface  -->
                <Card 
                    title={blogEntry.data.title} 
                    metaData={{
                        date: blogEntry.data.publishDate.toDateString(),
                        readTime: blogEntry.data.readTime,
                        tags: blogEntry.data.tags,
                    }}
                    postSnippet={blogEntry.data.description} 
                    href={`/blog/${blogEntry.slug}`}
                />
            ))}
        </div>
    </TerminalWindow>
</PageWrapperLayout>
