---
import PageWrapperLayout from '../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
import Card from '../components/Card.astro';

const blogCards = [
    {
        title: 'Fundamentals of OOP and Why Its Not What You Think',
        metaData: {
            date: '8_12_2022',
            readTime: 25,
            tags: ['oop', 'fundamentals', 'debate']
        },
        postSnippet: 'lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,',
        href: "/blog/1",
    },
{
        title: 'Fundamentals of OOP and Why Its Not What You Think',
        metaData: {
            date: '8_12_2022',
            readTime: 25,
            tags: ['oop', 'fundamentals', 'debate']
        },
        postSnippet: 'lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,',
        href: "/blog/1",
    }
];

---

<PageWrapperLayout title='Blogs' >
    <TerminalWindow title='blog_posts'>
        <div class="w-full flex flex-col justify-center items-center gap-y-6">
            {blogCards.map(card => (
                <Card title={card.title} metaData={card.metaData} 
                postSnippet={card.postSnippet} href={card.href}/>
            ))}
        </div>
    </TerminalWindow>
</PageWrapperLayout>
