---
import PageWrapperLayout from '../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
import Tabs from '../components/Tabs.astro';
import ImageCarousel from '../components/ImageCarousel.astro';

const books = {
        'fiction': {
            'fantasy': [
                    { imageLink: '/',
                    altText: 'altText',
                    navLink: '/',
                    bgColor: 'bg-texas'
                    }, 

                    { imageLink: '/',
                    altText: 'altText',
                    navLink: '/',
                    bgColor: 'bg-sundown'
                    }, 

                    { imageLink: '/',
                    altText: 'altText',
                    navLink: '/',
                    bgColor: 'bg-madang'
                    }
                ],
            'sciFi': [
                    { imageLink: '/',
                    altText: 'altText',
                    navLink: '/',
                    bgColor: 'bg-texas'
                    }, {
                        imageLink: '/',
                    altText: 'altText',
                    navLink: '/',
                    bgColor: 'bg-sundown'
                    }, {
                    imageLink: '/',
                    altText: 'altText',
                    navLink: '/',
                    bgColor: 'bg-madang'
                    }
                ],
            },
        'nonFiction': {
            'computerScience': [],
            'mathamatics': [],
        }
    }

const tabs = Object.keys(books).map((genre, index) => {
    return { 
        name: genre,
        url: '/',
        focused: (index === 0)
    };
});

let currentTab = '';

for (let i = 0; i < tabs.length; i++) {
    if (tabs[i].focused !== true) continue;
    currentTab = tabs[i].name;
    break;
}

---

<PageWrapperLayout title='Books' >
    <TerminalWindow title='book_shelf'>
        <div class="w-full flex flex-col justify-center items-center gap-y-10 text-mischka">
            <header class="w-full flex flex-col justify-center items-center gap-y-8">
                <Tabs tabs={tabs} unfocusedTabColor='bg-tuna' />
                <div class='w-full'>
                    <div class="italic text-xl ">List of books {currentTab} books I have read</div>
                </div>
            </header>

            { Object.keys(books[currentTab]).map(section => (
                 <section class="w-full flex flex-col justify-center items-center gap-y-6">
                    <div class="w-full border-b-2 pb-4">
                        <h2 class="font-semibold text-4xl">{section}</h2>
                    </div>
                    <ImageCarousel height="h-96" items={books[currentTab][section]} />
                </section>
            ))}
        </div>
    </TerminalWindow>
</PageWrapperLayout>
