---
import PageWrapperLayout from '../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
---
<PageWrapperLayout title="Root" isHome={true}>
    <TerminalWindow title="introduction_message" backgroundColor="bg-ebony-clay" borderColor="border-texas" titleColor="text-mischka">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="latest_blog_posts" backgroundColor="bg-ebony-clay" borderColor="border-texas" titleColor="text-mischka">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="my_software_projects" backgroundColor="bg-ebony-clay" borderColor="border-texas" titleColor="text-mischka">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="about_me" backgroundColor="bg-ebony-clay" borderColor="border-texas" titleColor="text-mischka">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="my_resume" backgroundColor="bg-ebony-clay" borderColor="border-texas" titleColor="text-mischka">
        <div class="h-72">
            <h1>Hello</h1>
        </div>
    </TerminalWindow> 
        <TerminalWindow title="dev_hall_of_fame" backgroundColor="bg-ebony-clay" borderColor="border-texas" titleColor="text-mischka">
        <div class="h-72">
            <h1>Hello</h1>
        </div>
    </TerminalWindow> 
</PageWrapperLayout>
