---
import PageWrapperLayout from '../layouts/PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';

export const prerender = true
---
<PageWrapperLayout title="Root" isHome={true}>
    <TerminalWindow title="introduction_message">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="latest_blog_posts">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="my_software_projects">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="about_me">
       <div class="h-72">
            <h1>Hello</h1>
       </div>
    </TerminalWindow> 
    <TerminalWindow title="my_resume">
    <div class="h-72">
            <h1>Hello</h1>
        </div>
    </TerminalWindow> 
        <TerminalWindow title="dev_hall_of_fame">
        <div class="h-72">
            <h1>Hello</h1>
        </div>
</TerminalWindow>
</PageWrapperLayout>
