---
import type { Theme } from '../types.js';

type Props = {
    link: string;
    theme: Theme;
}

const {link, theme} = Astro.props;

---

<a href={link} class=`flex justify-center items-center py-2 px-4 border-2 bg-${theme.backgroundColor} border-${theme.borderColor} 
    rounded-2xl text-${theme.textColor} shadow-neo-brute font-semibold`>
    <slot />
</a>
