---
type Props = {
    hasBackground?: boolean
    hasShadow?: boolean;
}

const {hasShadow=true, hasBackground=true} = Astro.props;

---
<a class={`${hasBackground ? 'btn-primary' : 'btn-link'} btn btn-square ${hasShadow && 'shadow-neo-brute'} shadow-ebony-clay`}> 
        <slot name="svg" /> 
</a>
