---
type Props = {
    width: string;
    height: string;
    backgroundColor: string;
    svgColor: string;
}

const {width, height, backgroundColor, svgColor} = Astro.props;

---

<div class={`w-fit ${backgroundColor} rounded-2xl shadow-neo-brute p-2.5`}> 
    <svg class={`${svgColor} block m-auto ${height} ${width}`}  viewBox="0 0 100 100"> 
        <slot name="svg" /> 
    </svg> 
</div>
