---
type Props = {
    backgroundColor: string;
    svgColor: string;
}

const {backgroundColor, svgColor} = Astro.props;

---

<div class={`w-fit ${backgroundColor} flex justify-center items-center rounded-2xl shadow-neo-brute shadow-ebony-clay p-2.5 ${svgColor}`}> 
        <slot name="svg" /> 
</div>
