--- 

type Props = { 
    tabs: { 
        name: string; 
        url: string;
        focused: boolean;
    }[];
    unfocusedTabColor: string;
}

const {tabs, unfocusedTabColor} = Astro.props;

---

<div id="terminal_tabs" class="grid grid-flow-col auto-cols-auto w-full text-periwinkle-gray">
    {tabs.map((tab) => (
        <div class={`p-2.5 border-t-2 border-e-2 rounded-tr-2xl border-periwinkle-gray flex justify-center 
        items-center ${tab.focused || unfocusedTabColor} ${tab.focused || "border-b-2"}`}>
            <a href=`/${tab.url}`>{tab.name}</a>
        </div>
    ))}
</div> 
