---
type Props = {
	title: string;
};
const {title} = Astro.props;

---

<div class="w-full mockup-window shadow-neo-brute bg-base-200 backdrop-blur bg-neutral/75 rounded-regular">
    <div class="w-full absolute top-3 flex justify-center items-center pb-4">
      <h2 class="self-center text-xl font-bold">{title}</h2>
    </div>
    <div class="w-full px-4 py-8 bg-neutral overflow-x-hidden overflow-y-scroll h-[82vh] relative">
        <slot />  
    </div>
</div>
