---
type Props = {
	title: string;
};
const {title} = Astro.props;

---

<div class="mockup-window shadow-neo-brute bg-base-200 
        backdrop-blur bg-neutral/75 rounded-regular">
   <div class="w-full absolute top-3 flex justify-center items-center pb-3">
      <h2 class="self-center text-xl font-bold">{title}</h2>
    </div> 
    <div class="w-full flex justify-center item-center px-4 py-8 bg-neutral overflow-hidden">
        <slot />  
    </div>
</div>
