---
import type { MarkdownLayoutProps } from 'astro';

import PageWrapperLayout from './PageWrapperLayout.astro';
import TerminalWindow from '../components/TerminalWindow.astro';
import ArticleHeader from '../components/ArticleHeader.astro';

//const {name} = Astro.params;

type Props = MarkdownLayoutProps<{
  // Define frontmatter props here
  title: string;
        description: string;
        date: string;
        readTime: number;
        tags: string[];
        sections: string[];
}>;

// TODO: check if there is a way to make sure frontmatter follows a defined type
const {frontmatter} = Astro.props;

const blog = {
    title: frontmatter.title,
    description: frontmatter.description,
    date: frontmatter.date, 
    readTime: frontmatter.readTime,
    tags: frontmatter.tags,
    sections: frontmatter.sections,
};

---

<!-- TODO: Look at other peoples blogs and examin their spacings between letters and paragraphs -->

<PageWrapperLayout title='Blogs' >
    <!-- TODO: set the window titel to the page name from the URL -->
    <!-- TODO: Create a custom slug for each page, send it through the frontmatter and then display here -->
    <TerminalWindow title={`test`}>
        <article class="w-full flex flex-col justify-center items-center gap-y-10 text-mischka">
            <ArticleHeader articleHeader={blog}/>
            <section class="max-w-full text-base-content prose prose-xl prose-headings:text-primary prose-headings:font-semibold 
                prose-h1:text-4xl prose-h2:text-3xl prose-h3:text-2xl prose-a:text-secondary w-full">
                <slot/>
            </section>
        </article>
    </TerminalWindow>
</PageWrapperLayout>
