---
import NavBar from "../components/NavBar.astro";

interface Props {
	title: string;
    isHome?: boolean;
}

const { title, isHome=false} = Astro.props; 
---

<!doctype html>
<html lang="en" data-theme="vaporWaveFantasyDark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
    <body class="bg-tuna">
        <div class="flex flex-col items-center justify-center h-screen max-w-screen-2xl max-h-screen my-0 mx-auto selection:bg-primary selection:text-base-100">
            <!-- Swap to a grid layout for easiter transition to larger screen sizes -->
            <!-- TODO: On max size screens maybe make w-12 -->
            <main class="w-11/12 flex flex-col h-full items-center justify-evenly 2xl:w-full">
                <NavBar isHome={isHome}/>
                <slot />
            </main>
        </div>
	</body>
</html>
<style is:global>
html {
        /* TODO: find a good default mono font to contract VT323 headers */
        font-family: /*"VT323",*/ "Bitstream Vera Sans Mono", monospace;
        font-weight: 400;
        font-style: normal;
	}
</style>
