---
import NavButtonLayout from "../layouts/NavButtonLayout.astro";

interface Props {
	title: string;
    isHome?: boolean;
}

const { title, isHome=false} = Astro.props; 
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-tuna flex flex-col items-center">
        <!-- Swap to a grid layout for easiter transition to larger screen sizes -->
        <main class="w-11/12 flex-col space-y-8 py-8">
            <NavButtonLayout isHome={isHome}/>
	      	<slot />
        </main>
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
