---
import NavBar from "../layouts/NavBar.astro";

interface Props {
	title: string;
    isHome?: boolean;
}

const { title, isHome=false} = Astro.props; 
---

<!doctype html>
<html lang="en" data-theme="vaporWaveFantasyDark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="bg-tuna">
        <div class="flex flex-col items-center max-w-screen-2xl my-0 mx-auto selection:bg-primary selection:text-base-100">
            <!-- Swap to a grid layout for easiter transition to larger screen sizes -->
            <NavBar isHome={isHome}/>
            <main class="w-11/12 flex-col space-y-8 py-8">
                <slot />
            </main>
        </div>
	</body>
</html>
<style is:global>
	html {
        font-family: "VT323", "Bitstream Vera Sans Mono", monospace;
        font-weight: 400;
        font-style: normal;
	}
</style>
